
<div class="profile-main">
    <div class="profile-main__img">

        <img name="avatar" src="../../assets/profileImg.png" alt="">
    </div>
    <p class="user__name">Иван</p>

    <div class="profile-data">
            <span id="profile-data">
            </span>
        <div class="profile-data__row profile-data__last">
            <p class="bold">Телефон</p>
            <p class="second">+7 (909) 967 30 30</p>

        </div>
    </div>


    <div class="profile-main__buttons">
        <button >Изменить данные</button>
        <hr>
        <button>Изменить пароль</button>
        <hr>
        <button class="profile-main__buttons-exit">Выйти</button>
    </div>

</div>
