<link rel="stylesheet" href="../../styles/styles.pcss" />
<main class="profile">


    {{> profile/profileAside }}
    {{> profile/profileMain }}



</main>

<script defer type="module" src="profile.js"></script>
