<div class="chat">
    <div class="chats_block">
            <a href="#">Профиль ></a>
            <input class="search_input" type="text" placeholder="Поиск">

        <div class="chats">
            <hr>
            <img src="assets/Ellipse%2019.png" alt="photo">
            <div class="user_chat">
                <p class="user_name">Андрей</p>
                <p class="user_message">Изображение</p>
            </div>
        </div>
    </div>
    <div class="chat_about">
        <div class="user_about">
            <img src="assets/Ellipse%2019.png" alt="avatar">
            <p class="user_name">Вадим</p>
        </div>

    </div>
</div>
