@import "./variables.pcss";
@import "../partials/profile/profileStyles.pcss";
@import "../partials/auth/authStyles.pcss";
@import "../partials/chat/chatStyles.pcss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


body{

}
.bold{
    font-weight: bold;
}
.second{
    color: var(--second-text);
}
.user__name{
    font-weight: bold;
}
.user__message{
    color: var(--second-text);
}

