<link rel="stylesheet" href="../../styles/styles.pcss" />
<main class="login">
    <div class="form">
        <h1>
            Регистрация
        </h1>

        <span class="login-form__items" id="login-form__items">

        </span>


        <a href="/">
            <button class="first-button" name="Sign up">Зарегистрироваться</button>
        </a>
        <a href="../chat/chatPage.hbs">
            <button name="Sign in" class="second-button">Войти</button>
        </a>

    </div>

</main>
<script defer type="module" src="login.js"></script>
