<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>My ccdsdd</title>

    <link rel="stylesheet" href="./styles/styles.pcss" />

</head>
<body>
    {{> app }}
    <script defer type="module" src="partials/chat/chat.js"></script>
</body>
</html>
