<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>My App</title>

    <link rel="stylesheet" href="styles/styles.pcss" />

</head>
<body>
    {{> app }}
    <script defer type="module" src="chat.js"></script>
</body>
</html>
